extends layout

block includes
  script(src='/js/dwwFront.js')

block content
  div.top
  div.container
    div#controls
      button#uploadMap Save changes
      button#useMapButton Toggle map file
    div#datatable

  div.footer

  div#companydropdown.dropdown.dropdown-tip.dropdown-scroll
    ul.dropdown-menu