doctype
html
  head
    title= title
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom-theme/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/jquery.pnotify.default.css')
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
    //script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/jquery.pnotify.min.js')

    block includes
  body
    block content