body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.top{
	padding-top: 10px;
	padding-bottom: 10px;
}

thead{
	background-color: #CCC;
	font-weight: bold;
}

table {
	background-color: #EAEAEA;
}

tr {
	border-bottom: solid;
	border-bottom-width: 1px 0;
	border-bottom-color: #FFF;
	vertical-align: top;
}

th a {
	color: #000000;
	text-decoration: none;
}

tbody.scroll {
	overflow-x: hidden;
	overflow-y: scroll; 
	height: 500px;
}

.nameHeader {
	width:30%;
}

.mappedNameHeader {
	width:70%;
}

.countTotalHeader {
	width:30%;
}

.verified {
	background-color: #63D1F4;
}

.role.verified{
	background-color: #F0A804;
}

.baddata.verified{
	background-color: #F87531;
}

.verifySection {
	float: left;
	width: 275px;
}

#newMapName, #newMapId {
	width: 270px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
}

#saveFieldButton {
	float:left;
}

.container {
	width: 100%;
}

#searchCutoff{
	width: 200px;
}

#tableseperator{
	width: 4%;
	display: inline-block;
}

#datatable { 
	width: 62%;
	display: inline-block;
	padding: 0px;
	margin:0px;
}

#sidebar { 
	width: 34%;
	display: inline-block;
	left right top bottom: auto;
	vertical-align: top;
	padding:0px;
	margin-left:0px;
}
